In [4]:
# Import pandas libary abbreviated as pd
import pandas as pd
# Stop pandas from abbreviating tables to fit in the notebook
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
# Display graphs in the notebook
%matplotlib inline

In [5]:
# read in our csv file, and automatically change missing values into NaN
pay = pd.read_csv('earnings-residence-borough.csv', na_values = ['.',' '])
# Use the head function to see the first few rows
pay.head(100).set_index('Area').sort_values('Area')

                         2014   2015   2016   2017   2018
Area
Barking and Dagenham    422.5  436.6  462.2  461.0  479.1
Barnet                  479.1  491.0  485.6  522.6  536.6
Bexley                  512.6  491.1  487.0  513.0  513.8
Brent                   441.8  457.6  467.0  471.0  480.0
Bromley                 578.5  583.8  584.3  608.0  632.5
Camden                  613.1  588.1  632.5  614.3  634.7
Croydon                 499.0  492.2  512.3  538.5  552.0
Ealing                  498.4  495.7  498.3  517.2  523.0
Enfield                 462.8  473.6  463.9  479.8  479.1
Greenwich               509.1  532.5  539.3  553.0  573.7
Hackney                 513.0  534.5  527.8  558.1  555.6
Hammersmith and Fulham  609.9  646.7  641.9  651.1  681.3
Haringey                467.7  500.0  481.9  525.3  548.1
Harrow                  492.3  505.1  522.8  543.4  538.3
Havering                499.1  517.5  532.6  534.2  544.2
Hillingdon              492.5  498.8  499.8  500.4  531.9
Hounslow                463.5  495.6  500.9  517.0  535.9
Islington               613.5  603.7  613.3  646.1  687.6
Kensington and Chelsea  641.3  632.4  651.6  784.4  669.3
Kingston upon Thames    556.5  574.6  566.7  579.9  627.1
Lambeth                 547.0  542.9  551.7  594.6  620.4
Lewisham                518.5  517.5  520.6  535.2  551.4
Merton                  542.9  548.1  585.3  573.0  594.8
Newham                  393.7  421.6  436.7  471.3  479.1
Redbridge               517.6  533.1  521.8  546.8  554.7
Richmond upon Thames    654.2  648.0  688.8  665.9  678.2
Southwark               529.0  557.0  543.0  587.1  589.4
Sutton                  508.3  498.3  532.9  515.2  541.2
Tower Hamlets           574.9  554.9  557.9  592.0  627.9
Waltham Forest          444.8  476.3  483.4  499.4  529.2
Wandsworth              661.1  670.1  684.7  681.2  689.9
Westminster             659.6  656.0  667.5  730.8  766.6