In [2]:
# Import pandas libary abbreviated as pd
import pandas as pd
# Stop pandas from abbreviating tables to fit in the notebook
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
# Display graphs in the notebook
%matplotlib inline

In [4]:
# read in our csv file, and automatically change missing values into NaN
pay = pd.read_csv('gcse-results.csv', na_values = ['.',' '])
# Use the head function to see the first few rows
pay.head(100).set_index('Area').sort_values('Area')

                            Pupils  Attainment8  Progress8
Area
Barking and Dagenham        2185.0         46.7       0.23
Barnet                      3528.0         54.7       0.47
Bexley                      3141.0         49.0      -0.05
Brent                       2908.0         49.0       0.49
Bromley                     3258.0         49.8       0.12
Camden                      1513.0         48.3       0.05
City of London                 NaN          NaN        NaN
Croydon                     3579.0         45.0       0.06
Ealing                      2722.0         48.7       0.42
East                       60153.0         46.7      -0.01
East Midlands              45492.0         45.4      -0.11
Enfield                     3487.0         46.2       0.07
England                   524932.0         46.4      -0.03
Greenwich                   2166.0         45.9      -0.05
Hackney                     2002.0         49.4       0.38
Hammersmith and Fulham      1313.0         50.9       0.17
Haringey                    2127.0         46.5       0.29
Harrow                      2049.0         49.7       0.47
Havering                    2794.0         47.5      -0.04
Hillingdon                  3075.0         47.1       0.14
Hounslow                    2641.0         48.0       0.41
Inner London               24971.0         48.2       0.21
Islington                   1377.0         45.6       0.13
Kensington and Chelsea       739.0         55.0       0.45
Kingston upon Thames        1517.0         55.5       0.41
Lambeth                     1949.0         44.3      -0.12
Lewisham                    2247.0         44.2      -0.28
London                     75518.0         48.9       0.22
Merton                      1420.0         50.2       0.50
Newham                      3523.0         48.4       0.41
North East                 25177.0         44.6      -0.21
North West                 72289.0         45.6      -0.14
Outer London               50547.0         49.2       0.23
Redbridge                   3458.0         51.2       0.42
Richmond upon Thames        1374.0         52.7       0.14
South East                 83903.0         47.4      -0.02
South West                 50308.0         46.2      -0.13
Southwark                   2328.0         50.5       0.31
Sutton                      2759.0         56.2       0.24
Tower Hamlets               2623.0         47.2       0.25
Waltham Forest              2486.0         45.5       0.14
Wandsworth                  1695.0         49.5       0.21
West Midlands              58919.0         45.4      -0.08
Westminster                 1535.0         52.6       0.47
Yorkshire and the Humber   53173.0         45.4       0.03